<script context="module" lang="ts">
	interface Args {
		error: Error
		status: number
	}
	export const load = ({ error, status }: Args) => {
		return {
			props: {
				title: `${status}: ${error?.message || ''}`,
			},
		}
	}
</script>

<script lang="ts">
	export let title: string = ''
</script>

<h1>{title}</h1>
