<script lang="ts">
	import { initTiles, type Tile } from './mine'
	type Tool = 'flag' | 'open'
	let tool: Tool = 'open'
	let height = 12
	let width = 12
	let mines = 20
	let tiles = initTiles(height, width, mines)
	const restart = () => {
		tiles = initTiles(height, width, mines)
	}
	const push = (tile: Tile) => () => {
		switch (tool) {
			case 'flag':
				tiles = tiles.flag(tile.h, tile.w, !tile.hasFlag)
				break
			case 'open':
				tiles = tiles.open(tile.h, tile.w)
				break
		}
	}
	const toggleTool = (t: Tool) => () => {
		tool = t
	}
	$: wrapperStyle = [
		`grid-template-columns: repeat(${tiles.width}, 2em);`,
		`grid-template-rows: repeat(${tiles.height}, 2em);`,
	].join('')
</script>

<div>
	{#if tiles.status === 'lose' || tiles.status === 'win'}
		<h2>you {tiles.status}!</h2>
	{/if}
	<div class="wrapper" style={wrapperStyle}>
		{#each Array.from(tiles.iter()) as tile}
			<button on:click|preventDefault={push(tile)}>
				{tile.open
					? tile.hasMine
						? '💥'
						: tile.nearMines || ''
					: tile.hasFlag
					? '🚩'
					: '📦'}
			</button>
		{/each}
	</div>
	<div class="tools">
		<button
			on:click|preventDefault={toggleTool('open')}
			disabled={tool === 'open'}>💥</button
		>
		<button
			on:click|preventDefault={toggleTool('flag')}
			disabled={tool === 'flag'}>🚩</button
		>
		current: {tool}
	</div>
	<hr />
	<div class="tools">
		rest: {tiles.mines - tiles.flaged}, flag: {tiles.flaged}
	</div>
	<hr />
	<div class="tools">
		<button on:click|preventDefault={restart}>restart</button>
		<label>
			height: <input
				type="number"
				name="height"
				value={height}
				on:change={e => (height = Number(e.currentTarget.value))}
			/>
		</label>
		<label>
			width: <input
				type="number"
				name="width"
				value={width}
				on:change={e => (width = Number(e.currentTarget.value))}
			/>
		</label>
		<label>
			mines: <input
				type="number"
				name="mines"
				value={mines}
				on:change={e => (mines = Number(e.currentTarget.value))}
			/>
		</label>
	</div>
</div>

<style>
	.wrapper {
		display: grid;
	}
	.tools button {
		line-height: 2em;
		padding: 1em;
	}
	.tools label {
		display: block;
	}
</style>
